{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Auction
{% endblock %}

{% block content %}
<!--<h1 style="font-size: 35px;">Please specify how much you want to pay for the current lottery ( {{ player.round_number }} / {{ Constants.num_rounds }})</h1>-->
<h1 style="font-size: 35px;">Please specify your willingness to pay.</h1>

<body onload="setStartTime()">

  <div class="container">

    <article class="auction">

      <!-- <h4>type in your valuation of the lottery</h4>
      <br> -->

<!--      <p class="instruction1"> <b>Reminder:</b> <br>The values in the blue and red boxes represent the probability of winning and losing the lottery, respectively. The monetary amount at the bottom is the reward in case of winning.</p>-->

      <br>
      <p class="instruction2">A reasonable price  should be: <br> - Greater than {{ floor }} <br> - Less than {{ ceiling }}</p>

      <p class="instruction2">Type in your bid price:</p>

      <div style="float: left; font-size: 25px; position: relative; left: 5px;">
        <p>$</p>
      </div>

      <div style="position: relative; left: 15px;">
        {% formfield player.WTP label = "" %}
      </div>

      <br>

      <button class="btn btn-primary btn-large" onclick="end()">
        Submit
      </button>

  </div>

{% endblock %}
